{% extends "mails/base_email.html.twig" %}

{% block title %}
    Annulation de votre inscription à {{ event.name }}
{% endblock %}

{% block body %}
    <p>Bonjour {{ user.firstname }} {{ user.lastname }},</p>

    <p>Nous avons bien reçu votre demande d'annulation pour l'événement <strong>{{ event.name }}</strong>.</p>

    <p>Voici les détails de l'événement annulé :</p>
    <ul>
        <li><strong>Date :</strong> {{ event.date|date("d/m/Y") }}</li>
        <li><strong>Heure :</strong> {{ event.date|date("H:i") }}</li>
    </ul>

    <p>Nous sommes désolés de ne pas pouvoir vous compter parmi nous cette fois-ci. Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter.</p>

    <p>Nous espérons vous voir à nos prochains événements.</p>

    <p>Cordialement,</p>
    <p>L'équipe</p>
{% endblock %}
