{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <h1 class="text-center my-5 text-3xl">
            Vos inscriptions
        </h1>

        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs font-semibold text-gray-400 uppercase bg-gray-50">
            <tr>
                <th class="px-6 py-3">Id</th>
                <th class="px-6 py-3">Nom de l'événement</th>
                <th class="px-6 py-3">Date</th>
                <th class="px-6 py-3"></th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr class="bg-white border-b border-gray-200">
                    <td class="px-6 py-4">{{ event.id }}</td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ event.name }}</td>
                    <td class="px-6 py-4">{{ event.date ? event.date|date('d/m/Y à H:i') : '' }}</td>
                    <td class="px-6 py-4 text-right">
                        <a href="{{ path('app_event_cancel_registration', {'id': event.id}) }}"
                           class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 mx-1 rounded">
                            <i class="fas fa-user-minus"></i>
                            Désinscription
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="px-6 py-4 text-center">
                        Vous n'êtes inscrit à aucun événement.
                        <a href="{{ path('app_event_index') }}" class="text-blue-500 hover:underline">Voir les
                            événements</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
